<<<<<<< HEAD
/* styles/3-common.css */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
=======
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
>>>>>>> 74838169bf9b936fd3ba2fb46cec2465cde2077e
}
