footer {
    background-color: #ffffff;
    color: rgb(12, 12, 12);
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    position: fixed;
    bottom: 0;
}
