header {
<<<<<<< HEAD
  color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px #CCCCCC;
}
=======
    background-color: white;;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}

>>>>>>> 74838169bf9b936fd3ba2fb46cec2465cde2077e
